<%- include('./shared/header', {title: "MP4 Reducer and Converter"}) -%>

<main class="container pt-3">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>
                Please select a video to upload and convert
            </h1>
        </div>
        <form action="/convertVideo" method="post" class="col-12 col-sm-10" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name="video" id="formFile">
            </div>
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        <div class="col-12 col-sm-10">
            <h2>Status</h2>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Upload and conversion status" id="uploadAndConversionStatus"></textarea>
                <label for="uploadAndConversionStatus">Status</label>
            </div>
        </div>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<%- include('./shared/footer') -%>