<%- include('./shared/header', {title: "MP4 Reducer and Converter"}) -%>

<main class="container pt-3">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>
                Please select a video to upload and convert
            </h1>
        </div>
        <form id="videoUploadForm" action="/convertVideo" method="post" class="col-12 col-sm-10" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formVideoFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" name="video" id="formVideoFile" required>
            </div>
            <div class="d-grid">
                <button id="submitVideoBtn" class="btn btn-primary" type="submit" disabled><i class="bi bi-cloud-arrow-up"></i> Upload</button>
            </div>
        </form>
        <div class="col-12 col-sm-10 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Server Messages
                    </div>
                    <div class="card-text overflow-auto" id="uploadAndConversionStatus">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<%- include('./shared/footer') -%>